<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>轨迹列表</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
</head>
<body>

    <div id="container">
        <div id="text">
            {% for row in data %}
                <div class="year">{{ row['year'] }} Journey</div>
                <div class="year">{{ row['runs'] }} Runs</div>
                <div class="year">{{ row['run_km'] }} KM</div>

                <div class="year">{{ row['rides'] }} Rides</div>
                <div class="year">{{ row['ride_km'] }} KM</div>

                <div class="year">5:40 Avg Pace</div>
                <hr style="color: red;">
                <br>
            {% endfor %}
        </div>

        <div id="map-table">
            <div id="map"></div>
            <div id="year-button">
                <button id="2023">2023</button>
                <button id="2022">2022</button>
                <button id="2021">2021</button>
                <button id="2020">2020</button>
                <button id="2019">2019</button>
            </div>
        </div>

<!--        <div id="map-table">-->
<!--            <div id="map"></div>-->
<!--        </div>-->
    </div>
    <div id="table">
        <table>
            <thead>
                <tr>
                    <th>KM</th>
                    <th>Pace</th>
                    <th>BPM</th>
                    <th>TYPE</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                    <tr data-id="{{ row['id'] }}" onclick="window.scrollTo(0,0)">
                        <td>{{ row['KM'] }}</td>
                        <td>{{ row['Pace'] }}</td>
                        <td>{{ row['BPM'] }}</td>
                        <td>{{ row['TYPE'] }}</td>
                        <td>{{ row['Date'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=xxxx"></script>
</body>
</html>
