<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>轨迹列表</title>
    <style>
        #map {
            width: 100%;
            height: 500px;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <ul id="trackList">
        <li><button data-track="1">轨迹1</button></li>
        <li><button data-track="2">轨迹2</button></li>
        <li><button data-track="3">轨迹3</button></li>
    </ul>

    <div id="map"></div>

    <div class="table-container" style="margin-left: 800px;">
<!--      <table>-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <th style="padding-right: 100px;">里程</th>-->
<!--            <th style="padding-right: 100px;">配速</th>-->
<!--            <th style="padding-right: 100px;">跑步时间</th>-->
<!--          </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--          <tr>-->
<!--            <td style="padding-right: 20px;">5km</td>-->
<!--            <td style="padding-right: 20px;">6:30/km</td>-->
<!--            <td>2023-02-11</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td style="padding-right: 20px;">10km</td>-->
<!--            <td style="padding-right: 20px;">6:45/km</td>-->
<!--            <td>2023-02-10</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td style="padding-right: 20px;">21.1km</td>-->
<!--            <td style="padding-right: 20px;">7:00/km</td>-->
<!--            <td>2023-01-10</td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--      </table>-->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                    <tr data-id="{{ row['id'] }}">
                        <td>{{ row['id'] }}</td>
                        <td>{{ row['name'] }}</td>
                        <td>{{ row['age'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=xxx"></script>
    <script>
        $(function() {
            var map = new AMap.Map('map', {
                zoom: 12
            });

            $('#trackList').on('click', 'button', function() {
                var trackID = $(this).data('track');
                $.ajax({
                    url: '/get_track',
                    type: 'POST',
                    data: { track_id: trackID },
                    dataType: 'json',
                    success: function(data) {
                        var path = data.map(function(t) { return [t.longitude, t.latitude]; });
                        map.clearMap();

                        var polyline = new AMap.Polyline({
                            path: path,
                            strokeColor: "#3366FF",
                            strokeWeight: 6,
                            strokeOpacity: 1,
                            strokeStyle: 'solid',
                            showDir: true
                        });

                        polyline.setMap(map);

                        map.setFitView(polyline, {
                            duration: 500  // 过渡时间为 0.5 秒
                        });
                    },
                    error: function(err) {
                        alert(err.responseText);
                    }
                });
            });
        });
    </script>
</body>
</html>
