<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>轨迹列表</title>
    <style>
        #map {
            width: 100%;
            height: 500px;
        }
<!--        html, body {-->
<!--            height: 100%;-->
<!--        }-->

<!--        #map {-->
<!--            height: 100%;-->
<!--            width: 100%;-->
<!--        }-->
    </style>
</head>
<body>
    <ul id="trackList">
        <li><button data-track="1">轨迹1</button></li>
        <li><button data-track="2">轨迹2</button></li>
        <li><button data-track="3">轨迹3</button></li>
    </ul>

    <div id="map"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=xxxx"></script>
    <script>
        $(function() {
            var map = new AMap.Map('map', {
                zoom: 13
            });

            $('#trackList').on('click', 'button', function() {
                var trackID = $(this).data('track');
                $.ajax({
                    url: '/get_track',
                    type: 'POST',
                    data: { track_id: trackID },
                    dataType: 'json',
                    success: function(data) {
                        var path = data.map(function(t) { return [t.longitude, t.latitude]; });
                        map.clearMap();

                        var polyline = new AMap.Polyline({
                            path: path,
                            strokeColor: "#3366FF",
                            strokeWeight: 6,
                            strokeOpacity: 1,
                            strokeStyle: 'solid',
                            showDir: true
                        });

                        polyline.setMap(map);

                        map.setFitView(polyline, {
                            duration: 500  // 过渡时间为 0.5 秒
                        });
                    },
                    error: function(err) {
                        alert(err.responseText);
                    }
                });
            });
        });
    </script>
</body>
</html>
